.number-input-container {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.number-input {
    width: 50%;
    font-size: 2em;
    border-radius: 10px;
}