.container {
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.inner-container {
    display: inherit;
    flex-direction: column;
    width: 60%;
    height: min-content;
    padding: 2rem;
    border-radius: 12px;
    border: #2a2a2a 2px solid;
}

.inner {
    display: inherit;
    width: 100%;
    height: min-content;
}

.inner-top {
    flex-direction: column;
    align-items: start;
    padding-bottom: 2rem;
}

.inner-bottom {
    flex-direction: row;
    justify-content: space-between;
}
